<div class="d-flex ">
    <p class="mb-0">Asistencia</p>
</div>
<div class="row g-3">
    <div class="col-md-4">
        <label class="form-label">Jornada</label>
        <select class="form-select" id="filtroGrado">
            <option value="">Todos</option>
            <option value="1">Mañana</option>
            <option value="2">Tarde</option>
        </select>
    </div>

    <div class="col-md-4">
        <label class="form-label">Grado</label>
        <select class="form-select" id="filtroBloque">
            <option value="" >Todos</option>
            <option value="1">Transición</option>
            <option value="2">Primero</option>
            <option value="3">Segundo</option>
            <option value="4">Tercer</option>
            <option value="5">Cuarto</option>
            <option value="6">Quinto</option>
            <option value="7">Sexto</option>
            <option value="8">Septimo</option>
            <option value="9">Octavo</option>
            <option value="10">Noveno</option>
            <option value="11">Décimo</option>
            <option value="12">Once</option>
        </select>
    </div>

    <div class="col-md-4">
        <label class="form-label">Asignatura</label>
        <select class="form-select" id="filtroAsignatura">
            <option value="">Todas</option>
            <option value="matematicas">Matemáticas</option>
            <option value="lengua">Lengua</option>
            <option value="ciencias">Ciencias</option>
        </select>
    </div>
    <div class="tabla-container">
        <table class="table table-bordered" id="tablaInas">
            <thead class="table-light">
                <tr id="filaHead">
                    <th>Item</th>
                    <th>Estudiantes</th>
                    <th>N1</th>
                    <th>N2</th>
                    <th>N3</th>
                    <th>N4</th>
                    <th>N5</th>
                    <th id="colInasFinal">TOTAL INAS</th>
                </tr>
            </thead>
            <tbody id="bodyAsis">
                <tr>
                    <td>1</td>
                    <td>Kevin Acero Barrera</td>
                    <td class="celdaAsis"><span class="estado" onclick="activarOpciones(this)">✏️</span></td>
                    <td class="celdaAsis"><span class="estado" onclick="activarOpciones(this)">✏️</span></td>
                    <td class="celdaAsis"><span class="estado" onclick="activarOpciones(this)">✏️</span></td>
                    <td class="celdaAsis"><span class="estado" onclick="activarOpciones(this)">✏️</span></td>
                    <td class="celdaAsis"><span class="estado" onclick="activarOpciones(this)">✏️</span></td>
                    <td class="inasFinal">0</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Juan David Acero Urbano</td>
                    <td class="celdaAsis"><span class="estado" onclick="activarOpciones(this)">✏️</span></td>
                    <td class="celdaAsis"><span class="estado" onclick="activarOpciones(this)">✏️</span></td>
                    <td class="celdaAsis"><span class="estado" onclick="activarOpciones(this)">✏️</span></td>
                    <td class="celdaAsis"><span class="estado" onclick="activarOpciones(this)">✏️</span></td>
                    <td class="celdaAsis"><span class="estado" onclick="activarOpciones(this)">✏️</span></td>
                    <td class="inasFinal">0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="/front/js/asistenciadoc.js"></script>
