               <div class="d-flex ">
                    <p class="mb-0">Docente / Asistencia</p>
                    <button type="button" class="btn btn-primary ms-auto" data-bs-toggle="modal" data-bs-target="#nuevoDoc">+ Agregar</button>
                </div>
                        <div class="row g-3">
                            
                            <div class="col-md-4">
                                <label class="form-label">Jornada</label>
                                <select class="form-select" id="filtroGrado">
                                    <option value="">Todos</option>
                                    <option value="1">Mañana</option>
                                    <option value="2">Tarde</option>
                                </select>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">Grado</label>
                                <select class="form-select" id="filtroBloque">
                                    <option value="" >Todos</option>
                                    <option value="1">Transición</option>
                                    <option value="2">Primero</option>
                                    <option value="3">Segundo</option>
                                    <option value="4">Tercer</option>
                                    <option value="5">Cuarto</option>
                                    <option value="6">Quinto</option>
                                    <option value="7">Sexto</option>
                                    <option value="8">Septimo</option>
                                    <option value="9">Octavo</option>
                                    <option value="10">Noveno</option>
                                    <option value="11">Décimo</option>
                                    <option value="12">Once</option>
                                </select>
                            </div>

                            <div class="col-md-4">
                                <label class="form-label">Asignatura</label>
                                <select class="form-select" id="filtroAsignatura">
                                    <option value="">Todas</option>
                                    <option value="matematicas">Matemáticas</option>
                                    <option value="lengua">Lengua</option>
                                    <option value="ciencias">Ciencias</option>
                                </select>
                            </div>

                        </div>