#tablaInas td {
    text-align: center;
    vertical-align: middle;
}

.celdaAsis {
    cursor: pointer;
    font-size: 18px;
}

.celdaAsis span {
    margin: 0 4px;
    cursor: pointer;
}

.inasFinal {
    font-weight: bold;
}
